.homepage-container{
    display: flex;
    width: 100%;
    padding: 40px 0px;
    text-align: left;
    align-items: flex-start;
   

}

.homepage-container-video{
    float: left;
    width: 50%;
}

.homepage-container .homepage-container-video video{
    width: 80%;
    float: inline-end;
    
}
.homepage-container-content{
    float: left;
    width: 50%;
    
   
}



.homepage-container-content a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    color: rgb(255, 255, 255);
    
}


.content-homepage{
    padding-top: 10%;
    width: 60%;
}
.content h1 {
    font-size: 78px;
    font-family: apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    
}

.cssbuttons-io-button {
    
    text-decoration: none;
    padding-top: 40px;
    background: black;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em black;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em black;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: black;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  
  .homepage-content-item{
    display: flex;
    flex-direction: row;

  }
.homepage-item{
  width: 33.33%;
  
  height: 300px;
}
svg{
  font-size: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.homepage-content-item{
  margin: 30px 15px;
}
.homepage-content-title > h2{
  font-family: "Roboto", Sans-serif !important;
  text-align: center;
  
  font-weight: 500;
}

.item-content-description > p{
  font-size: 16px;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}

.item-content-title > h3{
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
}