:root {
  --white: #FFFFFF;
  --black: #000000;
}

body {
  margin: 0;
  font-family: apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container .header-container .navbar-nav .nav-link.active{
    color: black;
}